{% extends 'gnmain/base.html' %}
{% load static %}

{% block title %}GAEDKE NATURSTEIN{% endblock %}

{% block content %}
{{ cat }}
<h1>{{ category.category_html_name }} {{ cat }}</h1>
    <div id="div-maintop">
        <div id="post1">
            {% if category_list %}
                {% for c in category_list %}
					 {% if c.id  == 1 %}
                        {% for p in c.post_set.all %}
                            {% if p.position  == 1 %}
								
                                <h2>{{p.title}}</h2>
                                <p>{{p.text}}</p>

                            {%endif%}

                        {% endfor %}
					{%endif%}
                {% endfor %}
            {%endif%}

        </div>
        <div id="container1">
            <div id="cssSlider">
                <div id="sliderImages">
					{% if category_list %}
						{% for c in category_list %}
							 {% if c.id  == 1 %}
								{% for p in c.picture_set.all %}
									{% if p.position  == 0 %}
										
										<img src="{% static p.url%}" alt="" />

									{%endif%}

								{% endfor %}
							{%endif%}
						{% endfor %}
					{%endif%}
               
                    <div style="clear:left;"></div>
                </div>
            </div>
            <div id="post2">
                {% for p in category.post_set.all %}
                    {% if p.position  == 2 %}
                        <p>{{p.text}}</p>

                    {%endif%}

                {% endfor %}
            </div>
        </div>
    </div>
    <h1>GRANIT MARMOR SANDSTEIN</h1>
    {% if category_list %}
        <ul>
        {% for c in category_list %}
            <li><a href= {{ c.id }} />{{ c.category_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}