{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'App/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'App/gallery.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Gaedke Naturstein{% endblock %}</title>
</head>
<body>
    <header>

            <div id="div-logo"><img id="img-logo" src="{% static "App/pictures/Logo.png" %}" /></div>

            <nav><div id="div-mainnav">
                {% for c in category_list %}
                    <a class="navlink" href= /{{ c.id }} />{{ c.category_name }}</a>
                {% endfor %}</div>
                <div id="div-nav2">
                    <a class="navlink2" href="#">Kontakt</a>
                    <a class="navlink2" href="#">Standort</a>
                    <a class="navlink2" href="#">Impressum</a>
                </div>
            </nav>
            <div id="header-images">
                <img class="header-img" src="{% static "App/pictures/Header/image01.jpg" %}" />
                <img class="header-img" src="{% static "App/pictures/Header/image02.jpg" %}" />
                <img class="header-img" src="{% static "App/pictures/Header/image03.jpg" %}" />
                <img class="header-img" src="{% static "App/pictures/Header/image04.jpg" %}" />
                <img class="header-img" src="{% static "App/pictures/Header/image05.jpg" %}" />
                <img class="header-img" src="{% static "App/pictures/Header/image06.jpg" %}" />
            </div>
            <div id="top-title">NATURSTEIN - GAEDKE - HAMBURG</div>

    </header>
    <main>
       {% block content %}CONTENT{% endblock %}
    </main>
    <hr>
    <footer>
        {% block footer %}FOOTER{% endblock %}
    </footer>



</body>
</html>
